@use '../variables' as *;

.schedule_image {
  display: flex;
  justify-content: center;
  align-items: center;
  
  img {
    width: 100%;
    max-width: 28em; // Restrict maximum width
    height: auto; // Maintain aspect ratio
    object-fit: contain; // Ensure full image is visible
    border-radius: 8px; // Optional: rounded corners
    box-shadow: 0 4px 8px #8f207e98; // Optional: shadow for depth
    
    // For tablet screens
    @media (max-width: 991px) {
      max-width: 400px;
    }
    
    // For mobile screens
    @media (max-width: 768px) {
      max-width: 100%;
    }
  }
}