.schedule_image[hidden] {
  display: none;
}

.schedule_image {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;

  & img {
    width: 100%;
    max-width: 28em;
    height: auto;
    object-fit: contain;
    border-radius: 8px;
    box-shadow: 0 4px 8px #8f207e98;
  }
}

@media (max-width: 991px) {
  .schedule_image img {
    max-width: 400px;
  }
}

@media (max-width: 768px) {
  .schedule_image img {
    max-width: 100%;
  }
}

/* Schedule navigation */
.schedule-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;
}