/* ── Image desktop ──────────────────────────────────────── */
.yozora-full-image-container {
  overflow: hidden;
  align-self: stretch;

  & img {
    height: 85rem;
    width: auto;
    display: block;
    position: relative;
    top: 0.5rem;
    right: 0rem;
  }
}

/* ── Image mobile ───────────────────────────────────────── */
.presentation-mobile-image-col {
  overflow: visible;
  position: relative;
}

.presentation-mobile-image {
  height: 145vw;
  display: block;
  position: relative;
  right: 137%;
}